* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header,
main,
footer {
    width: 100%;
}

header {
    position: fixed;
}

header,
footer {
    background-color: #112B3C;
    color: #EFEFEF;
    text-align: center;
    padding: 20px;
}

main {
    background-color: #205375;
    padding: 90px 10px 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

.card {
    background-color: #EFEFEF;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.image {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #112B3C;
    flex-basis: 80%;
}

.detail {
    background-color: #205375;
    padding: 0px 5px 0px;
    border-radius: 5px;
    flex-basis: 20%;
}

tr,
td {
    color: #EFEFEF;
    font-size: 90%;
    padding: 10px 5px;
}